<html lang="fr">
<body>
Bonjour,

{{ medication.patent.patent.fullName }} n'a pas pris son médicament {{ medication.drug.name }} aujourd'hui
à {{ "now"|date("H:i") }}.

Cordialement,

iBracelet.

Ceci est un message automatique.
</body>
</html>

